iiii################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/outs
.Rproj.user
.*

.RData
.Rhistory
.gitignore
