iiii################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/outs
.Rproj.user
.*


.RData
.RData
.Rhistory
.gitignore
/smartmeter/outs
/ddfcst
.pdf
.csv
.docx
/smartmeter/Main_*
*.zip
*.Rproj
